body {
    font-family: "IBM Plex Mono", monospace;
    margin: 0;
    background-color: #3C6DF0;
    overflow-x: hidden;
}

#container {
    position: relative;
}

#title {
    position: relative;
    top: -50px;
    z-index: 3;
    color: #FED500;
    background-color: #ff5600;
    width: 100%;
    height: 100vh;
    margin: auto auto -50px auto;
    text-align: center;
}

#title h1 {
    padding-top: 15%;
    margin: 0;
    font-size: 15rem;
    line-height: 10rem;
}

sup {
    vertical-align: text-top;
    font-size: 3rem;
}

span {
    vertical-align: text-top;
    font-size: 1rem;
}

#title p:first-of-type {
    padding-top: 3rem;
    font-style: italic;
}

#intro {
    z-index: 2;
    width: 100%; 
    position: relative;
    font-size: 3rem;
    color: #3C6DF0;
    background-color: #FED500;
}

#intro p {
    width: 50%;
    margin: auto;
    padding: 5rem 0;
}

header {
    position: sticky;
    top: 0;
    margin: 0;
    padding-top: 10px;
    background-color: #ff5600;
    z-index: 3;
    width: 100%;
    height: 50px;
    text-align: center;
}

h2 {
    margin: 0;
    color: #fed500;
}

figure {
    position: sticky;
    width: 100%;
    left: 0;
    margin: 0;
    z-index: 1;
    height: 350px;
    top: 35%;
}

figure p {
    position: absolute;
    text-align: center;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 3rem;
    width: 80%;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fed500;
}

/* .holder {
    position: relative;
    display: block;
    width: 100%;
    margin: auto;
} */

article {
    margin: 0 auto;
    position: relative;
}

.step {
    z-index: 0;
    height: 100vh;
    width: 100%;
    margin: auto;
    text-align: center;
    font-style: italic;
    /* color: #ff5600; */
    color: #252E6A;
    font-size: 5rem;

}

#text {
    font-size: 3rem;
}

.is-active {
    /* background-color: goldenrod; */
}

#footer {
    width: 100%; 
    font-size: 1rem;
    color: #fed500;
    background-color: #ff5600;
    text-align: center;
}

#footer p {
    margin: 0;
    font-style: italic;
    padding: 3rem 0;
}